$color-white: white;
$color-black: black;
$color-light-blue: #79C8F8;
$color-correct-blue: #008aff;
$color-blue-shadow: rgb(0, 106, 204);

$background-promo: radial-gradient(99.54% 99.54% at 49.43% 50.46%, $color-light-blue 0%, $color-correct-blue 100%);

$font-default: 16;

$promo-size: 1440;